<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260957915764-ft1uq4t07unl7etva2g6hba67acclso4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260957915764-ft1uq4t07unl7etva2g6hba67acclso4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>260957915764-c1h3p5du70dik4f6kvo8fdavs1ulqf8t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ926PCrFf_N8YbgkATVp8ubCJDetQA24</string>
	<key>GCM_SENDER_ID</key>
	<string>260957915764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWechatFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-we-chat-2ba3a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-we-chat-2ba3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260957915764:ios:25af9c0a75e38edb995f21</string>
</dict>
</plist>